.glass-row {
   justify-content: space-between;
   font-size: 12px;
}
.glass-column-green {
   width: 30px;
   height: 4px;
   background: var(--green);
   border-radius: 2px;
}
.glass-column-red {
   width: 30px;
   height: 4px;
   background: var(--red);
   border-radius: 2px;

}