@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

:root {
  --primary: #008ffb;
  --primary-hover: #0080e1;
  --green: rgb(5, 185, 5);
  --green-hover: rgb(4, 167, 4);
  --red: rgb(253, 0, 0);
  --red-hover: rgb(224, 1, 1);
}

body {
  margin: 0;
  overflow-y: hidden;
  background: #fffffe;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-auto {
  margin-bottom: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
